/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Life Savers', serif; */

/*
COLORS
H1, Get answer button, text in input field: #2B4E80;
Get answer button disabled: #607AA0;
Get answer button hover: #1C3455;
light blue background: #E6ECF4;
clear button: #DE4841;
clear button disabled: #D0CDCD
*/

body{
  display: grid;
  font-family: 'Open Sans', sans-serif;
}

.header {
  font-family: 'Life Savers', serif;
  color: #2B4E80;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  margin: 20px;
  display: flex;
  justify-content: center;
}

.main-generator{
  display:flex;
  justify-content: center;
  background-color: #E6ECF4;
  padding: 10px;
  width: 55%;
  height: 20rem;
  grid-column-start: 2;
  grid-column-end: 3;
  margin-left:100px;
}

form{
display: flex;
flex-direction: column;
align-items: center;
background: 100
}

.question-input{
align-self: center;
width: 20.5rem;
height: 30px;
border: none;
}

.get-answer-button{
width: 20.5rem;
margin: 5px;
background-color: #2B4E80;
color: white;
}

.question-asked {
  margin-top: 40px;
}

.clear-button{
  align-self: flex-end;
  border: none;
  background-color: #D0CDCD;
  color: white;
  position: relative;
  top: 65px;
}

.answer {
  align-self: center;
}

.magic-8-ball img{
  width: 7rem;
  align-self: center;
  padding: 7px;
  position: relative;
  top: 30px;
}

.woody{
  display: flex;
  grid-column-start: 3;
  grid-row-start: 2;
}

.woody-img{
  height: 21rem;
  width: 15rem;

}
